<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Outright SMP</title>
  </head>
  <body>
    <section>
      <div class="header">
        <h1>Outright SMP</h1>
      </div>
      <div class="content">
        <h2>Server Details</h2>
        <p>
          The Outright server is available at <a
            href="srv1.outright.catlord.co.uk">srv1.outright.catlord.co.uk</a
          >. The server is running a Minecraft 1.20.1 Fabric instance. You will
          need to install the mods to connect.
        </p>
        <h2>Stream Schedule</h2>
        <p>
          View the stream schedule <a href="/outright/schedule" target="_blank">here</a>!
        <h2>Mods</h2>
        <p>
          To play on the Outright server, you must install some client side
          mods. These have been bundled as modpacks for several launchers.
        </p>
        <h3>MultiMC</h3>
        <p>To install the mods using MultiMC:</p>
        <ol>
          <li>
            Copy the following link: <br />
            <a href="https://files.catlord.co.uk/Outright.zip" target="_blank"
              >https://files.catlord.co.uk/Outright.zip</a
            >
          </li>
          <li>Open MultiMC and click "Add Instance" in the top left.</li>
          <li>
            Click "Import from zip" and paste the link you copied earlier.
          </li>
          <li>Click "OK" and wait for the mods to download.</li>
        </ol>
        <h3>ATLauncher</h3>
        <p>To install the mods using ATLauncher:</p>
        <ol>
          <li>
            Copy the following link: <br />
            <a href="https://files.catlord.co.uk/Outright.zip" target="_blank"
              >https://files.catlord.co.uk/Outright.zip</a
            >
          </li>
          <li>
            Open ATLauncher and click on the "Instances" tab on the right.
          </li>
          <li>Click "Import" on the top left.</li>
          <li>Enter the URL you copied earlier and click "Import".</li>
          <li>Click "Install" and wait for the mods to download.</li>
        </ol>
        <h3>Modrinth</h3>
        <p>
          The modrinth modpack is available <a
            href="https://files.catlord.co.uk/Outright.mrpack"
            target="_blank">here</a
          >.
        </p>
        <h3>Other Launchers</h3>
        <p>To install the mods using a different launcher:</p>
        <ol>
          <li>Create a new 1.20.1 Fabric instance.</li>
          <li>
            Download the mods from: <br />
            <a
              href="https://files.catlord.co.uk/OutrightMods.zip"
              target="_blank">https://files.catlord.co.uk/OutrightMods.zip</a
            >
          </li>
          <li>
            Extract the zip archive into the "mods" folder of the new instance.
          </li>
        </ol>
      </div>
    </section>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    color: #444;
  }
  body {
    margin: unset;
    padding: unset;
    min-height: 100dvh;
    background: rgb(204, 232, 232);
    background: linear-gradient(
      125deg,
      rgba(204, 232, 232, 1) 0%,
      rgba(163, 226, 195, 1) 100%
    );
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eee;
    max-width: 600px;
    margin: auto;
    margin-block: 16px;
    height: fit-content;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  }
  section .header {
    background-color: #eee;
    border-radius: 16px 16px 0 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #ddd;
  }
  section .content {
    padding: 16px;
    padding-block-end: 32px;
  }
  a {
    color: #444;
    font-weight: 600;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  li {
    margin-block-end: 16px;
  }
</style>
