body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fadebkg {
	background: linear-gradient(-45deg, #0a090a, #2e2227, #2c2835, #131817);
	background-position-y: 0%;
	background-size: 400% 400%;
}

@keyframes menunext {
  from {
    padding-left: 0;
  }
  to {
    padding-left: 10;
  }
}

@keyframes menunextinternal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menunext {
  animation-name: menunext;
  animation-duration: 200ms;
}

.menunextinternal {
  animation-name: menunextinternal;
  animation-duration: 200ms;
}
